html {
  font-family: sans-serif;
}

body {
  background: #2c2c2c;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0062;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}
#adios{
  width: 84rem;
  height: 160px;
  margin: 1rem auto;
  color: white;
  position: fixed;
  text-align: center;
  left: auto;
  bottom: 100px;
}
#btn-empezar{
  background-color: blue;
  position: fixed;
  left: 400px;
}
#btn-finalizar{
  background-color: red;
  position: fixed;
  right: 400px;
}
#historial, #eleccion{
  margin: 1rem auto;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}
#contenedor-resultado{
  width: 20rem;
  height: 160px;
  margin: 1rem auto;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

#pantalla-maquina, #pantalla-jugador {
  position: fixed;
  text-align: center;
  width:15%;
  height: 30%;
  bottom: 320px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}
#pantalla-maquina{
  left: 180px;
}
#pantalla-jugador{
  right: 180px;
}
#historial {
  display: flex;
  flex-direction: column;
}

#vida-maquina, #vida-jugador {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}
#pantallaTitulo{
margin: 1rem auto;
width: 30rem;
text-align: center;
border-radius: 10px;
padding: 0.5rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
background: white;
}
